@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Bitter";
  -moz-osx-font-smoothing: grayscale;
  background: rgb(143,0,255);
  background: -moz-linear-gradient(90deg, rgba(143,0,255,1) 23%, rgba(224,90,251,1) 84%);
  background: -webkit-linear-gradient(90deg, rgba(143,0,255,1) 23%, rgba(224,90,251,1) 84%);
  background: linear-gradient(90deg, rgba(143,0,255,1) 23%, rgba(224,90,251,1) 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8f00ff",endColorstr="#e05afb",GradientType=1);
  color: white;
}